@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count == 0)
{
    <h2 class="text-primary">Customers</h2>
    <h4 class="text-danger">We don't have customers yet!.</h4>
}
else
{
    <table class="table table-hover table-condensed">
        <caption class="text-primary h2">Customers  <span>@Html.ActionLink($"Add Customer", "New", "Customer", null, new { @class = "btn btn-primary" })</span></caption>
        <thead>
            <tr>
                <th class="text-info h3">Name</th>
                <th class="text-info h3">Membership Type</th>
                <th class="text-info h3">Discount Rate</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                @*<td class="h4">@Html.ActionLink($"{@customer.Name}", "Details", "Customer", new { id = customer.Id }, null)</td>*@
                <td class="h4">@Html.ActionLink($"{@customer.Name}", "Edit", "Customer", new { id = customer.Id }, null)</td>
                <td class="text-success h4">@customer.MembershipType.Name</td>
                <td class="text-success h4">@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
        </tbody>
    </table>
}
